body {
  background-color: #EAE2B7;
  background-image: url('https://i.sstatic.net/kx8MT.gif');
  background-size: cover;

  /* height: 100vh; */
  padding:0;
  margin:0;
}

#headers {
  /* font-family: sans-serif; */
  font-family: 'Concert One';
  font-size: 30px;
  margin-left: 50px;
  padding: 100px;
}
/* style.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.row {
  height: 500px; /* Adjust as needed */
  background-color: #eee;
  padding: 20px;
  transform: translateY(100px); /* Initial offset */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

/* Optional styles for content inside rows */
.row h2 {
  margin-top: 0;
}

.buffer{
  width: 100%;
  min-height: 300px;
  background-color: rgb(60 60 60);
}

.maps {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px;
}

.maps img {
  width: 100%; 
  height: auto; 
  border-radius: 100%;
  margin-left: 25%;
  border: 5px double #003049
}
.feedback-label{
  font-size: 25px;
}


h3{
  font-family: "Concert One";
  font-size: 40px;
  color:#003049
}


#profile-title p {
  font-family: 'Concert One';
  font-size: 20px;
  /* margin-left: 50px; */
  padding: 100px;
  margin-top: 200px;
  text-align: left;
}
.maps img{
  object-fit: cover;
  height: 200px;
  width: 250px;
}

.feedback h1{
  text-align: center;
}

.aboutHeader{
  font-family: 'Concert One';
  text-align: center;
  font-size: 80px;
  margin-bottom: auto;
  color: #FCBF49;

  /* shadow */
  -webkit-text-stroke: 0.0009375rem #0d1b1e;
  -o-text-stroke: 0.0009375rem #0d1b1e;
  text-stroke: 0.0009375rem #0d1b1e;
  letter-spacing: 6px;
  text-shadow: 3px 3px 0px #ab0a12;
}

label {
  position: absolute;  /* Remove from normal flow */
  left: 50%;          /* Position halfway across */
  transform: translateX(-50%); /* Move left by half its width */
  text-align: center;   /* Center the text within the label */
  font-family: 'Concert One';
}

input {
  color: #175873;
  text-align: center; 
  font-size: 18px;
  font-style: italic;
  font-family: 'Concert One';
  border: 3px dotted #003049;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
}

button{
  font-color: D62828;
  border: 5px dotted #D62828;
  border-radius: 15px;
  text-color: #F77F00;
  background-color: #EAE2B7;
  font-family: 'Concert One';
  width: fit-content;; 
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
}

textarea{
  border: 5px dotted #003049;
  border-radius: 15px;
  color: #F77F00;
  background-color: white;
  font-family: 'Concert One';
}

.feedback {
  display: flex;
  justify-content: center;
}



p {
  color: #627E8B;
  /* text-align: center; */
  font-size: 25px;
  font-family: 'Concert One';
}

/* NAVIGATION BAR DO NOT CHANGE */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 90; */
}

li {
  float: right;
  padding: 15px;
  font-family: "Concert One";
  font-size: 30px;
  vertical-align: middle;
  /* z-index: 90; */
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  /* z-index: 90; */
}


.nav-bar {
  /* overflow: hidden; */
  font-family: "Concert One";
  background-color: #003049;
  z-index: 999;
  color: white;
  /* z-index: 90; */
}


.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 90; */
  /* ... other navbar styles ... */
}

.navbar.sticky ul {
  /* This is important! */
  display: flex;
  justify-content: space-between;
}

.navbar.sticky li a {
  padding: 15px 20px;
  /* Adjust these values as needed */
}

.navbar.sticky li a:hover {
  /* This is the trick */
  background-color: #ddd;
  transition: background-color 0.3s ease;
  /* Optional transition effect */
}


.dropdown {
  float: left;
  /* z-index: 90; */

}


.dropdown .dropbtn {
  /* font-size: 16px;   */
  border: none;
  outline: none;
  color: white;
  border-radius: 0;
  /* padding: 14px 20px; */
  padding: 14px 29px;
  background-color: #003049;
  z-index: 999;
  font-family: "Concert One";
  margin: 0;
  font-size: inherit;

  /* z-index: 90; */
}


.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #FCBF49;

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 90; */
}

.dropdown-content a {
  /* float: none; */
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 999;
  background-color: #003049;
}

.dropdown-content a:hover {
  color: red;
}

.about-us {
  position: relative;
  top: 14px;
  padding-left:15px;
  padding-right:15px;
}

nav {
  /* Targets the entire navigation bar */
  background-color: #f0f0f0;
  z-index: 999;
}

.nav-item {
  background-color: transparent;
  /* Remove any default background */
}

.nav-item a:hover {
  background-color: #FCBF49;
}

.nav a:hover {
  color: #FCBF49;
  background-color: transparent;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.homebutton {
  position: fixed;
  left: 0;
  top: -.1vw;
  padding: 15px;
  padding-bottom: 6px;
  padding-right: 250px;
  overflow: hidden;
  font-size: 50px;
  font-family: "Concert One";
  color: white;
}

mark.homebutton-text {
  position: fixed;
  left: 70px;
  top: .20vw;
  padding: 15px;
  font-size: 45px;
  font-family: "Concert One";
  color: white;
  background-color: transparent;
}

/* END OF NAV BAR CSS */



.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.image-grid img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 50px;
  object-fit: cover;
  border: 5px dotted #F77F00;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20p;
  margin: 20px 70px;
}

#profile {
  border-radius: 50%;
  text-align: center;
  padding: 35px;
  padding-top: 65px;
  height: 200px;
  width: 200px;
}








.image-slideshow {
  max-width: 100%;
  width: 100%;
  height: auto; /* Adjust this as necessary based on your height needs */
  margin: 0 auto;
  /* Remove the position and other styles affecting layout */
  position: relative;
  z-index: -1;
}



/* .image-fade {
  animation-name: fade;
  animation-duration: 2s;
   object-fit: cover;
} */

/* @keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
} */

#foodimg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#feedback-button{
  display:block;
  margin:auto;
  margin-bottom: 50px;
  margin-top: 25px;
}

/* footer */
footer{
  background-color: #003049;
  padding: 10px;
  margin-top:30px;
  font-family: "Concert One";
  font-size: 20px;
  color: #627E8B;
  text-align: center;

}

.footerdeets{
  text-align: right;
  display: inline;
}